<%= form_with(model: @review) do |form| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% @review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h1> Review for Restaurant</h1>
  <div class="field">
    <%= form.label :review %>
    <%= form.text_area :review %>
  </div>

  <%= form.hidden_field :reviewed_id, :value => @reviewed_id%>
  <%= form.hidden_field :type, :value => @type%>

  <div class="actions">
    <%= form.submit "Add Review"%>
  </div>
<% end %>
