<p id="notice"><%= notice %></p>

<p>
  <strong>Review:</strong>
  <%= @review.review %>
</p>

<p>
  <strong>Type:</strong>
  <%= @review.reviewed_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @review.reviewed.name %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
